:root {
  --text_color: white;
  --background-color: #ffc107;
  --green: rgb(83, 165, 72);
}

.navbar {
  padding: 0px;
}

#head {
  color: white;
}
#day_card {
  display: none;
  background-color: var(--background-color);
  color: var(text__color);
}
#curLoc {
  margin-left: 10px;
  margin-right: -10px;
}

.btn {
  color: var(--text_color);
  background-color: var(--green);
}
.btn:hover {
  background-color: var(--background-color);
}
